services:
  # 1. The Web API
  - type: web
    name: otp-api
    runtime: docker
    plan: free
    repo: https://github.com/spartan124/otp_service # Optional: Explicit repo link
    branch: main
    envVars:
      - key: PYTHONUNBUFFERED
        value: 1
      # We declare these so Render knows the app needs them.
      # "sync: false" means "Don't look for the value here; I will add it securely in the Dashboard."
      - key: RABBITMQ_URL
        sync: false
      - key: REDIS_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: MAIL_SERVER
        sync: false
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: MAIL_FROM
        sync: false
