services:
  # 1. The Web API
  - type: web
    name: otp-api
    runtime: docker
    plan: free
    envVars:
      - key: PYTHONUNBUFFERED
        value: 1
      # We will add the RABBITMQ_URL manually in the dashboard for security
    
  # 2. The Background Worker
  - type: worker
    name: otp-worker
    runtime: docker
    plan: free
    envVars:
      - key: PYTHONUNBUFFERED
        value: 1
      # We will add the RABBITMQ_URL manually in the dashboard
